@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@600&display=swap');

*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

body{
    overflow-x: hidden;
    height: 200vh;
    max-width: 100%;
}

#mid{
    max-width: 100%;
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr repeat(2, 0.7fr) 0.4fr;
}

#mid1, #mid2, #mid3, #mid4{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-weight: lighter;
}

#mid1{background-color: rgb(0, 0, 0); color: white;}
#mid2{background-color: rgb(255, 255, 255); }
#mid3{background-color: rgb(0, 0, 0); color: white;}
#mid4{background-color: rgb(255, 255, 255); display: none;}
/* Mid 4 ta none*/

h5{font-size: 120%; filter: drop-shadow(1px 1px 4px rgb(236, 233, 230));}
h4{margin: 20px 20px; font-size: 150%;}
h2{margin: 20px 20px; font-size: 300%; }
h3{color: #fffffe; font-size: 200%; filter: drop-shadow(1px 1px 4px rgb(255, 145, 0));
padding: 10px 0px;}


#contato h3{filter: drop-shadow(1px 1px 4px green);}

#image-text, #image-text2, #image-text3, #image-text4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#agende{
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: black;
    column-gap: 10px;
}

#outros-servicos, #contato, #localidade{border: 5px solid rgb(15, 15, 15);}

#outros-servicos, #contato, #localidade{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-outros, #btn-converse{
    height: 7vh; 
    width: 20vw;
    border: none;
    font-size: 130%;
    font-weight: bolder;
    cursor: pointer;
    background-color: #fbff00;;
}
#btn-converse{background-color: green;}

#localidade{color: white;}


#s1{ font-size: 160%;
    color: #fbff00; 
    font-weight: bold; 
    filter: drop-shadow(1px 2px 7px rgb(255, 145, 0));
}

#s2{ font-size: 160%;
    color: #ee7605; 
    font-weight: bold; 
    filter: drop-shadow(1px 2px 7px rgb(255, 176, 6));
}



#btn-saiba{
    margin: 20px 20px;
    height: 10vh;
    width: 40vw;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 150%;
    background-color: #fbff00;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgb(235, 212, 6);
    border-radius: 10px;
    transition: 0.5s;
}
#btn-saiba:hover{
    background-color: snow;
}

#image-text img, #image-text2 img, #image-text3 img, #image-text4 img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}






